---
layout: default
---

<div class="content-box">
  <div class="entry-content">
    <img src="{{ "about-me-image.jpeg" | thumbor_image_url }}" alt="Photo Stefan Exner" class="about" />

    <h2>Ahoy, glad you made it here!</h2>

    <p>
      I'm Stefan Exner, currently working as IT freelancer (Development, Consulting, ...)
      and living in Hamburg, Germany.
    </p>

    <p>
      My favourite work could be described as simply helping people solve their technology related problems.
      This can include identifying the actual needs with them, choosing a proper technical stack to build on, developing a corresponding system myself,
      translating business requirements into technical ones and/or supporting an existing team.

      I love building MVPs and agile, iterative development. Start with something small and let it grow based on the respective circumstances.
    </p>

    <p>
      Here's a short summary of my skills and work experience, the full version can be found on the <a href="/about">About
      me</a> page.
    </p>

    {% include technologies_and_experience.html %}
  </div>
</div>

<h2><a href="/about#past-work">Past Work</a></h2>
<div class="content-box">
  <div class="entry-content">
    <ul class="list-inline">
      <li><strong>2021-2021</strong></li>
      <li><i>sum.cumo / freeyou</i></li>
      <li>
        Freelance backend development.
        Helped extending the existing claims related functionality of their system and the core engine it was built upon.
        Also, worked on improving the communication between teams and the claims team's agile workflow.
      </li>
    </ul>

    <ul class="list-inline">
      <li><strong>2020-2021</strong></li>
      <li><i>MVP Lab GmbH</i></li>
      <li>
        Full Stack Development, "DevOps", CI/CD
      </li>
    </ul>

    <ul class="list-inline">
      <li><strong>2016-2020</strong></li>
      <li><i>Lokalportal GmbH</i></li>
      <li>
        Backend Development, Tech Lead, Head of Technology Innovation
      </li>
    </ul>

    <ul class="list-inline">
      <li><strong>2013-2020</strong></li>
      <li><i>IQSH</i></li>
      <li>
        Training teachers (mostly math, physics, etc.) to become certified computer science teachers.
      </li>
    </ul>

    <ul class="list-inline">
      <li><strong>2009-2016</strong></li>
      <li><i>CAU Kiel</i></li>
      <li>
        Freelance work while studying computer science (Master's degree)
      </li>
    </ul>

    <ul class="list-inline">
      <li><strong>2008-2009</strong></li>
      <li><i>Webmedia/Visrez</i></li>
      <li>
        Full Stack Ruby on Rails development
      </li>
    </ul>
  </div>
</div>

<h2><a href="/blog">Latest Posts</a></h2>
{% for post in site.posts | limit: 2 %}
{% include post-preview.html %}
{% endfor %}
