---
layout: default
---

<div class="content-box">
  <div class="entry-content">
    <img src="{{ "about-me-image.jpeg" | thumbor_image_url }}" alt="Photo Stefan Exner" class="about" />

    <h2>Ahoy, glad you made it here!</h2>

    <p>
      I'm Stefan Exner, currently working as IT freelancer (Development, Consulting, ...)
      and living in Hamburg, Germany.
    </p>

    <p>
      My favourite work could be described as simply helping people solve their technology related problems.
      This can include identifying the actual needs with them, choosing a proper technical stack to build on, developing a corresponding system myself,
      translating business requirements into technical ones and/or supporting an existing team.

      I love building MVPs and agile, iterative development. Start with something small and let it grow based on the respective circumstances.
    </p>

    <p>
      Here's a short summary of my skills and work experience, the full version can be found on the <a href="/about">About
      me</a> page.
    </p>

    {% include technologies_and_experience.html %}
  </div>
</div>

<h2><a href="/about#past-work">Past Work</a></h2>
<div class="content-box">
  <div class="entry-content">
    {% assign work_items = site.past_work | reverse %}
    {% for work_item in work_items %}
    <ul class="list-inline">
      <li><strong>{{ work_item.start_year }}-{{ work_item.end_year }}</strong></li>
      <li><i>{{ work_item.company_name }}</i></li>
      <li>{{ work_item.job_title }}</li>
      {% if work_item.summary %}<li>{{ work_item.summary }}</li>{% endif %}
    </ul>
    {% endfor %}
  </div>
</div>

<h2><a href="/blog">Latest Posts</a></h2>
{% for post in site.posts limit: 2 %}
{% include post-preview.html %}
{% endfor %}
