<footer>
  <div class="footer-wrapper">
    <div>
      Last Update on {{ site.time | date: "%B %d, %Y" }}
    </div>
    <div>
      <a href="/impressum">Impressum</a>
      <i class="fas fa-grip-lines-vertical"></i>
      <i class="fas fa-heart heart"></i>d sites:
      {{ "unscoped.dev" | external_link: "https://unscoped.dev" }}
    </div>
  </div>
</footer>

<script>
  if (window.location.host === "stex.codes") {
    const pixel = document.createElement("img");
    const currentPath = window.location.pathname;
    const referrer = document.referrer;
    const projectKey = "9EPMKWMWLC";
    const priconticsURL = "https://pricontics.com"
    pixel.src = `${priconticsURL}/tic.gif?pk=${projectKey}&p=${currentPath}&r=${referrer}`;
    pixel.style.width = "1px";
    pixel.style.height = "1px";
    document.body.appendChild(pixel);
  }
</script>

