<div class="text-center">
    <nav class="header-nav">
        <ul class="navigation-bar">
            <li><a href="/">HOME</a></li>
            <li><a href="/about">About Me</a></li>
            {% if site.owner.twitter %}
                <li><a href="https://twitter.com/{{ site.twitter.username }}" rel="noopener" title="Twitter" target="_blank"><i class="fab fa-twitter fa-fw"></i></a>
            {% endif %}

            {% if site.owner.github %}
                <li><a href="https://github.com/{{ site.owner.github }}" title="Github" rel="noopener" target="_blank"><i class="fab fa-github fa-fw"></i></a>
            {% endif %}

            {% if site.owner.email %}
              <li><a href="mailto:{{ site.owner.email }}" title="Email"><i class="fas fa-at fa-fw"></i></a>
            {% endif %}

            <li><a href="https://www.xing.com/profile/Stefan_Exner13/cv" title="Xing" rel="noopener" target="_blank"><i class="fab fa-xing fa-fw"></i></a>
        </ul>
    </nav>
</div>
