<div class="text-center">
    <nav class="header-nav">
        <ul class="navigation-bar">
            <li><a href="/">HOME</a></li>
<!--            <li><a href="/archives/">ARCHIVE</a></li>-->
<!--            <li><a href="/tags/">TAGS</a></li>-->
            <li><a href="/about/">ABOUT</a></li>
            {% if site.owner.twitter %}
                <li><a href="https://twitter.com/{{ site.owner.twitter }}" target="_blank"><i class="fab fa-twitter fa-fw"></i></a>
            {% endif %}

            {% if site.owner.github %}
                <li><a href="https://github.com/{{ site.owner.github }}" target="_blank"><i class="fab fa-github fa-fw"></i></a>
            {% endif %}
        </ul>
    </nav>
</div>
