<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
    {% include head.html %}
</head>

<header>
    {% include header.html %}
</header>

<!-- BODY -->
<body id="post-index">
    {% include browser-upgrade.html %}

    <div id="main" role="main">
      <article class="detail">

        {% if page.featured-image %}
        <div class="featured-image">
          <img src="{{ page.featured-image | thumbor_image_url }}" alt="{{ page.title }} Featured Image" style="width:100%">
        </div>
        {% endif %}

        <!-- MAIN -->
        <h1 class="entry-title">
            {{ page.title }}
        </h1>

        {% if page.subtitle %}
        <h3 class="entry-subtitle">
            <a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ page.subtitle }}</a>
        </h3>
        {% endif %}

        <hr>

        <!-- POST CONTENT -->
        <div class="entry-content">
            {{ content }}
        </div>

        {% if page.tags %}
        <hr>

        <!-- POST TAGS -->
        <div class="inline-tags">
            <span>
                {% for tag in page.tags %}
                    <a href="/tags/#{{tag}}">#{{ tag }}&nbsp;&nbsp;&nbsp;</a>
                {% endfor %}
            </span>
        </div>
        {% endif %}

        {% if page.date %}
        <br>

        <!-- POST DATE -->
        <div class="post-date">
            {{ page.date | date_to_string }} | Updated: {{ page.last_modified_at | date_to_string }}
        </div>
        {% endif %}
      </article>
    </div>

    {% unless page.hide_comments %}
    <script src="https://utteranc.es/client.js"
            repo="stex/stex.codes"
            issue-term="{% if page.comment_issue_term %}{{ page.comment_issue_term }}{% else %}url{% endif %}"
            label="comment"
            theme="github-dark"
            crossorigin="anonymous"
            async>
    </script>
    {% endunless %}

    <!-- FOOTER -->
    {% include footer.html %}
</body>
</html>
